.calculator-container {
    display: flex;
    flex-direction: column;
}

.calculator-button {
    border: solid;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.calculator-row {
    display: flex;
    flex: 1;
    flex-direction: row;
}
